<div class="card">
  <div class="card">
    <div class="card-header">
      Product Id : {{productId}}
    </div>
    <div class="card-body" *ngIf="formGroup">
      <div class="row">
        <div class="col-md-6">{{formGroup.value | json}}
          <form [formGroup]="formGroup" (ngSubmit)="updateProduct()">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input class="form-control"  formControlName="name">
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input class="form-control"  formControlName="price">
            </div>
            <div class="mb-3">
              <label class="form-label">Checked</label>
              <input type="checkbox" class="form-check-input"  formControlName="checked">
            </div>
            <div class="mb-3">
              <label>Note</label>
              <input>
            </div>
            <button [disabled]="!formGroup.valid"  class="btn btn-success"> Save </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
